{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "v6.10.0",
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ],
    "bluebird"
  ],
  "plugins": [
    "transform-object-entries",
    "transform-async-to-generator"
  ]
}
